.dGrid{
    display: table;
    width: 100%;
    margin-bottom: 2px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;

    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    background: #fff;

    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
}

.dGrid .caption {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    height: 30px;
    vertical-align: middle;
    padding-top: 3px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699;
    color:#ffffff;
    font-size: 13px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}

.dGrid .colspan {
    display: block;
}

.dGrid-bordered {
    border: 1px solid #ddd;
}

.dGrid .thead{
    width: inherit;
    display: table-header-group;
    font-weight: bold;
    text-align: center;
    background-color: #81c6eb;
    cursor: pointer;    
}

.dGrid .tbody{
    display: table-row-group;
    text-align: justify;	
    height: 100%;
    border-bottom: 1px ;
}

.dGrid .tr{
    display: table-row;
    vertical-align: inherit;
}

.dGrid .tr:focus, .dselect{
    background-color: #99DEF8;
    font-weight: bold;
}

.dGrid .th{
    display:table-cell;
    /*border: 1px solid #CCC;*/
    height: 35px;
    vertical-align: middle;
    border-color: inherit;
    padding-left: 2px;
    padding-right: 2px;
    width:100px;    

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; 
    color:#ffffff; 
    font-size: 12px;
    font-weight: bold; 
    border-left: 1px solid #0070A8;

}

.dGrid .td{
    display:table-cell;
    border: 1px solid #CCC;
    height: 25px;
    vertical-align: middle;
    padding-left: 2px;
    width:100px;
    text-align: justify;
    vertical-align: top;
}

.dGrid .tr:nth-child(odd) > .td{
    background-color: #D4EEF6;
}

.tfoot{
    width: 100%;
    height: 35px;
    position: relative;
    text-align: right;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
    margin-top: 2px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699;
    color: #131aff;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #0070A8;

    /*-webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

.setscroll{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:300px;
    width:100%;
    border-bottom : 1px solid #CCC;
}