<!DOCTYPE html>
<html lang="en" ng-app="gridApp" >
	<head>
		<title>Example 1</title>
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<!--Load lib angular & Jquery-->
		<script type="text/javascript" src="../assets/js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="../assets/js/angular.min.js"></script>		
		<!--Load lib Grid-->
		<link rel="stylesheet" href="../assets/doeventgrid/css/style.css" type="text/css" />
		<script type="text/javascript" src="../assets/doeventgrid/js/doevent-grid.js"></script>		
	</head>
	<body>
		<script type="text/javascript">
			'use strict';
			var gridAppp = angular.module('gridApp',['dGrid']);
			gridAppp.controller('ExampleCtrl',function($scope, eventGrid){
                $scope.eventGrid = eventGrid;
                $scope.record = [];//eventGrid.getRecord();
				var items = [
					{nip : 'N-001', nama : "Antok", alamat : "Surabaya"},
					{nip : 'N-002', nama : "Anik", alamat : "Surabaya"},
					{nip : 'N-003', nama : "Budi", alamat : "Surabaya"},
					{nip : 'N-004', nama : "Chinta", alamat : "Surabaya"},
					{nip : 'N-005', nama : "Doni", alamat : "Surabaya"}
				];

                $scope.eventGrid.setRecords(items);

			});
		</script>
		<div ng-controller="ExampleCtrl" d-grid style="width:99%;">
            
            <!-- Awal Grid -->
            <div class="dGrid">
                <div class="caption">DoEventGrid</div>
                <div class="thead" d-head>
                    <div class="tr">
                        <div class="th" style="width:25px;">No</div>
                        <div class="th" >
                            <a style="color:#FFFFFF;" href="#" ng-click="orderByField='nip'; reverseSort = !reverseSort">
                                NIP
                                <span ng-show="orderByField == 'nip'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                                </span>
                            </a>
                        </div>
                        <div class="th" >
                            <a style="color:#FFFFFF;" href="#" ng-click="orderByField='nama'; reverseSort = !reverseSort">
                                NAMA
                                <span ng-show="orderByField == 'nama'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                                </span>
                            </a>
                        </div>
                        <div class="th" >
                            <a style="color:#FFFFFF;" href="#" ng-click="orderByField='alamat'; reverseSort = !reverseSort">
                                ALAMAT
                                <span ng-show="orderByField == 'alamat'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th" style="width:25px;"></div>
                        <div class="th"> <input ng-model="find.nip" class="form-control input-sm"
                                                placeholder="Search" type="text" style="width: 100%"> </div>
                        <div class="th"> <input ng-model="find.nama" class="form-control input-sm"
                                                placeholder="Search" type="text" style="width: 100%"> </div>
                        <div class="th"> <input ng-model="find.alamat" class="form-control input-sm"
                                                placeholder="Search" type="text" style="width: 100%"> </div>
                    </div>
                </div>
            </div>
            <div class="setscroll">
                <!-- <div class="dGrid"> -->
                    <div class="dGrid tbody">
                        <div d-row="{{$index}}" tabindex="{{$index}}"  class="tr"
                             ng-repeat="item in eventGrid.getRecords() | filter:find | orderBy:orderByField:reverseSort" >
                            <div d-col class="td" >{{$index+1}}</div>
                            <div d-col class="td" >{{item.nip}}</div>
                            <div d-col class="td" >{{item.nama}}</div>
                            <div d-col class="td" >{{item.alamat}}</div>
                        </div>
                    </div>
                <!-- </div> -->
			</div>
            <div class="tfoot">
                <ul class="pagination pagination-sm " style="margin:0 0 0 0;">
                    <li><a href="#" ng-click="eventGrid.setFirstPage()">&#8249;&#8249;</a></li>
                    <li><a href="#" ng-click="eventGrid.setPrevPage()">&#8249;</a></li>
                    <li><span>Page {{nextpage / stop + 1}} of {{max_page / stop + 1}}</span></li>
                    <li><a href="#" ng-click="eventGrid.setNextPage()">&#8250;</a></li>
                    <li><a href="#" ng-click="eventGrid.setLastPage()">&#8250;&#8250;</a></li>
                </ul>
            </div>
            <button ng-click="record=eventGrid.getRecord();" >Get Record</button>
            Isi = {{record}}
		</div>
        <!-- End Grid -->
				
	</body>
</html>